<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <title>Dashboard - Daily Leads Count</title>
      
        <link rel="stylesheet" href="/css/dashboard.css" />
    </head>
    <main>
        <!-- Header -->
        <div class="header">
            <div>
                <h1>DASHBOARD - DAILY LEADS COUNT</h1>
                <p>
                    A real-time snapshot of your total leads at a glance. Track,
                    measure, and stay on top of every opportunity.
                </p>
            </div>
            <button class="btn btn-blue">Mark Attendance</button>
        </div>

        <!-- Content -->
        <div class="content">
            <div class="top-buttons">
                <button class="btn btn-green">Line Chart</button>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>LEAD COUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wed Aug 20 2025</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Tue Aug 19 2025</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Mon Aug 18 2025</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>Sat Aug 16 2025</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Thu Aug 14 2025</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</html>
