<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./styles/dashboard.css" />
        <link rel="stylesheet" href="./scss/style.css" />
        <title>Dashboard</title>
    </head>
    <body>
        <section class="layout">
            <aside class="sidebar">
                <img class="sidebar__img" src="../public/fv-logo.png" alt="" />

                <nav class="sidebar__nav">
                    <ul>
                        <li class="sidebar__link"><a href="#">Dashboard</a></li>
                        <li class="sidebar__link"><a href="#">Profile</a></li>
                        <li class="sidebar__link"><a href="#">Settings</a></li>
                        <li class="sidebar__link"><a href="#">Logout</a></li>
                    </ul>
                </nav>
            </aside>
            <main class="main-area">
                <h1>Main Area</h1>
                <button>Click Me</button>
            </main>
        </section>
    </body>
</html>
